@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Lato|Lora|Merriweather|Montserrat|Open+Sans|Roboto|Roboto+Slab|Slabo+27px|Source+Sans+Pro');

body {
  font-family: sans-serif;
}

#screen-too-small-error {
  display: none;
}

@media only screen and (max-width: 740px) {
  #screen-too-small-error {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
  }

  .wrapper {
    display: none !important;
  }
}

@media only screen and (max-height: 400px) {
  #screen-too-small-error {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
  }

  .wrapper {
    display: none !important;
  }
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.survey-main {
  width: 700px;
  margin: 50px auto;
  font-size: 18px;
  line-height: 24px;
}

.text-passage-instructions {
  margin-bottom: 3em;
  font-style: italic;
}

.next-button-wrapper {
  margin-top: 50px;
  text-align: right;
}

.button {
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  padding: 10px 18px;
  border-radius: 6px;
  border: 1px solid #C6C6C6;
  background: #EAEAEA;
  text-decoration: none;
  color: #000;
  cursor: default;

  &:not(.disabled):not([disabled]):hover {
    background: #D4D4D4;
    cursor: pointer;
  }

  &.disabled, &[disabled] {
    opacity: 0.5;
    padding-left: 0.5em;
  }
}

.quiz-wrapper {
  .questions-wrapper {
    ul {
      list-style: none;
      margin-top: 0;
    }

    .question-text {
      margin-bottom: 0;
    }

    .question-answer-text {
      padding-left: 5px;
    }
  }
}

.screenshot {
  width: 44%;
  padding: 5px;
  margin: 5px;
  border: 1px solid #CCC;
  vertical-align: top;
}